{%extends "layout.html"%}
{%block body%}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../static/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>hey I am Shaina Rajput this is my first blog site. </p>
        <p>This blog site is about what is the actual meaning of HAPPINESS in our life</p>
        <p>What is happiness?</p>

          <p>It seems like an odd question, but is it? Do you know how to define happiness? Do you think happiness is the same thing to you as it is to others?</p>
          
          <p>What’s the point of it all? Does it even make a difference in our lives?</p>
          
          <p>In fact, happiness does have a pretty important role in our lives, and it can have a huge impact on the way we live our lives. Although researchers have yet to pin down the definition or an agreed-upon framework for happiness, there’s a lot we have learned in the last few decades.</p>
      </div>
    </div>
  </div>

  {%endblock%}
